.text-terciary {
  color: #ff9900;
}

.section-background {
  background-color: #f5fafa;
}

.text-dark {
  color: #373737;
}

.hover-text-white:hover {
  color: white !important;
}

body {
  color: #373737;
}
